<footer>
  <div class="headerLine"></div>
  <div class="realFooter">
    <div>
      <p>
        © ArtRekTime, 2004 <br />

        Рекламное агентство
      </p>
    </div>
    <div>
      <a href="/index.html">На главную</a>
      <a href="/services/index.html">Услуги и цены</a>
      <a href="/portfolio/index.html">Портфолио</a>
      <a href="/forclient/index.html">Клиенту</a>
      <a href="/paymentanddelivery/index.html">Оплата и доставка</a>
      <a href="/aboutus/index.html">О нас</a>
      <a href="/contacts/index.html">Контакты</a>
    </div>
    <div>
      <p>
        8 923 499 59 59 <br />

        8 (38452) 95 456
      </p>
      <a href="mailto:info@artrektime.ru"></a>
      <p>
        652600, Кемеровская обл. <br />

        г. Белово, ул. Ленина, 1
      </p>
      <a href="/contacts/index.html">Схема проезда</a>
    </div>
    <div>
      <p>
        Разработка сайта: <br />

        ArtRekTime
      </p>
    </div>
  </div>
</footer>
