<h1 class="newRubrika_heading">Наши новые направления</h1>
<div class="newRubrika_container__grid">
  <a href="/acrylic/index.html" class="newRubrika__grid_link_left">
    <div class="newRubrika__grid__left">
      <div class="newRubrika__grid__left_card">
        <div class="newRubrika__grid__left_card_seen">
          <img
            class="newRubrika__grid__left_card_seen_icon"
            src="/assets/img/icons/fluidacrylic.svg"
            alt="Иконка элемента вывески в виде буквы А по технологии жидкого акрила"
          />
          <p>Жидкий Акрил</p>
          <img
            class="newRubrika__grid__left_card_seen_uzor"
            src="/assets/img/pic/acrylicuzor.png"
            alt="Узор олицетворение жидкого акрила"
          />
        </div>
      </div>
    </div>
  </a>
  <a href="/neon/index.html" class="newRubrika__grid_link_right">
    <div class="newRubrika__grid__right">
      <div class="newRubrika__grid__right_card">
        <div class="newRubrika__grid__right_card_seen">
          <img
            class="newRubrika__grid__right_card_seen_icon"
            src="/assets/img/icons/neon.svg"
            alt="Иконка элемента вывески в виде буквы А по технологии гибкого неона"
          />
          <p>Гибкого Неона</p>
          <img
            class="newRubrika__grid__right_card_seen_uzor"
            src="/assets/img/pic/neonuzor.png"
            alt="Узор олицетворение гибкого неона"
          />
        </div>
      </div>
    </div>
  </a>
</div>
