<div class="twosided">
  <div class="about">
    <h1>О компании</h1>
    <p>
      Основные направления — наружная реклама, графический дизайн, городской
      дизайн, изготовление, печатная продукция и оперативная полиграфия.
    </p>
    <p>Мы работаем для вас с 2004 года!</p>
  </div>
  <div class="sale">
    <h1>Действующие акции</h1>
    <p>
      Реклама на 5-ти мультимедийных экранах в торговых центрах и на 10-ти
      экранах в автобусах -
      <span style="color: red">10 000 руб/месяц</span>. Разработка рекламного
      ролика в подарок.
    </p>
  </div>
</div>
