---
layout: ./layouts/columswimagenlinks.html
title: "Полиграфия"
description: "Список производимой нами полиграфии"
---

<article class="text-article">
  <h1 class="main-title big-title greyBackground">Полиграфия</h1>
  <div class="image-container_flex">
    <img src="/assets/img/pic/polygraphy.jpg" alt="наружная реклама" />
  </div>
  {% for polygraphy in collections.polygraphy %}
  <div class="columnsWimageNlinks">
    <div class="columnsWimageNlinks__title">
      <a class="columnsWimageNlinks__title-link" href="{{ polygraphy.url }}">
        <h1 class="columnsWimageNlinks__title-header">
          {{ polygraphy.data.title }}
        </h1></a
      >
    </div>
    <div class="columnsWimageNlinks__links-container">
      <p class="columnsWimageNlinks__links">
        {% for вид in polygraphy.data.list %}
        <a class="columnsWimageNlinks__links-link" href="{{ polygraphy.url }}"
          >{{ вид }}</a
        >
        {% endfor %} {{ polygraphy.data.text }}
      </p>
    </div>
    <div class="columnsWimageNlinks__linebox">
      <div class="columnsWimageNlinks__linebox-line"></div>
    </div>
    <div class="columnsWimageNlinks__linebox2">
      <div class="columnsWimageNlinks__linebox-line"></div>
    </div>
    <div class="columnsWimageNlinks__image">
      <img src="{{ polygraphy.data.image }}" alt="{{ polygraphy.data.alt }}" />
    </div>
  </div>
  {% endfor %}
</article>
