---
layout: ./layouts/wSidescroller.html
title: Портфолио
description: "Галереи созданной нами продукции"
---

<div class="slideshow">{% include "slideshowAutoWcaptionOnRight.html" %}</div>
<div class="portfolio">
  {% for portfolio_list in collections.portfolio_list %}
  <div class="portfolio__list">
    <a href="{{ portfolio_list.url }}"
      ><h1 class="portfolio__list-services">
        {{ portfolio_list.data.portfolioListLitle }}
      </h1></a
    >
    <div class="portfolio__list-middle">
      <div class="portfolio__list-middle-line"></div>
    </div>
    <p class="portfolio__list-jobs">
      {% for продукция in portfolio_list.data.список_продукции %}
      <a href="{{ portfolio_list.url }}#{{loop.index}}">{{ продукция }}</a>
      {% endfor %}
    </p>
  </div>
  {% endfor %}
</div>
