.twosided_paymentAndDelivery {
  display: flex;
  width: 100%;
  min-height: 600px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .twosided_paymentAndDelivery {
    width: 90%;
    display: block;
  }
}
