.acryl-benefits_yt__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

.acryl-benefits_yt__container:hover {
  opacity: 0;
  transition: ease-in-out 300ms;
}

.acryl-benefits_yt__container::after {
  position: absolute;
  content: url(/assets/img/icons/youtubeicon.png);
  left: 0;
  top: 0;
  opacity: 0;
}

.acryl-benefits_yt__container:hover::after {
  opacity: 1;
  transition: ease-in-out 300ms;
}

@media (max-width: 1000px) {
  .acryl-benefits_yt__container {
    opacity: 1;
    transition: ease-in-out 300ms;
  }
}
