.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding: 20px 0% 50px 0%;
}

@media (max-width: 1100px) {
  .benefits {
    justify-content: left;
    padding: 20px 20px 50px 5%;
  }
}
